ACTION!="add", GOTO="nexus4_rules_end"
ENV{MAJOR}!="?*", GOTO="nexus4_rules_end"
SUBSYSTEM=="usb", GOTO="nexus4_usb_rules"
GOTO="nexus4_rules_end"

LABEL="nexus4_usb_rules"

# LGE Nexus 4/10 MTP
ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee1", SYMLINK+="libmtp-%k", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1"

# LGE Nexus 4/10 MTP+ADB
ATTR{idVendor}=="18d1", ATTR{idProduct}=="4ee2", SYMLINK+="libmtp-%k", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1"

LABEL="nexus4_rules_end"
