[submodule "vim/src/vimtlib"]
	path = vim/src/vimtlib
	url = http://github.com/tomtom/vimtlib.git
[submodule "vim/src/vim-scmdiff"]
	path = vim/src/vim-scmdiff
	url = http://github.com/ghewgill/vim-scmdiff.git
[submodule "vim/src/autotab"]
	path = vim/src/autotab
	url = http://github.com/gfxmonk/vim-autotab.git
[submodule "vim/src/ack"]
	path = vim/src/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/src/git-vim"]
	path = vim/src/git-vim
	url = http://github.com/motemen/git-vim.git
[submodule "vim/src/vim-markdown"]
	path = vim/src/vim-markdown
	url = http://github.com/plasticboy/vim-markdown.git
[submodule "vim/src/nerdtree"]
	path = vim/src/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/src/coffee-script"]
	path = vim/src/coffee-script
	url = http://github.com/jashkenas/coffee-script.git
[submodule "ext/htmlview"]
	path = ext/htmlview
	url = http://github.com/gfxmonk/htmlview.git
