
module allow-systemd-units-in-home 1.0;

require {
	type systemd_logind_t;
	type file_t;
	type user_home_t;
	class service {start status stop};
}

#============= systemd_logind_t ==============

allow systemd_logind_t user_home_t:service *;
