snippet com
	<command name="${1}" path="${2}">${3}
	</command>
snippet run
	<runner interface="${1}">${2}
	</runner
snippet re
	<requires interface="${1}">${2}
	</requires>
snippet ver
	<version ${1}/>
snippet i
	interface="${1}"
snippet b
	before="${1}"
snippet nb
	not-before="${1}"
snippet env
	<environment name="${1}PATH" insert="${2}" mode="${3:prepend}"/>
